<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="log.console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SS} %-5p (%C{1}:%M) - %m%n"/>
        </layout>
        <!-- Filter restricting the levels that are output. -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <!-- Minimum log level to output. -->
            <param name="levelMin" value="DEBUG"/>
            <!-- Maximum log level to output. -->
            <param name="levelMax" value="ERROR"/>
            <!-- Whether matching events are accepted; defaults to false. -->
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- Default configuration: debug level, output via the log.console appender. -->
    <root>
        <level value="debug"/>
        <appender-ref ref="log.console"/>
    </root>
</log4j:configuration>